/vendor
/node_modules
.env
/composer.lock
/package-lock.json
/pnpm-lock.yaml
/storage/logs/*
/bin
/storage/nginx.pid
/public/data/videos/*.mp4
/public/data/videos/*.mkv
/public/data/videos/*.ogg
/public/data/videos/thumbs/*.webp
/config/keys/*
/.vscode
/public/MusikBruder
/Dockerfile.dev
/docker/dev

/.VSCodeCounter
/.setup

/compose.yml

!/storage/logs
!/storage/logs/.gitkeep
!/config/keys
!*/**/.gitkeep
