/vendor
/node_modules
.env
/composer.lock
/package-lock.json
/pnpm-lock.yaml
/storage/logs/*
/bin
/storage/nginx.pid
/public/data/videos/*.mp4
/public/data/videos/thumbs/*.webp

/.VSCodeCounter
/.setup

/compose.yml

!/storage/logs
!/storage/logs/.gitkeep
!/config/keys
