$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 40px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-wide-size: 74px;

$header-height: 90px;

$content-width: 1920px;

$comments-width: 400px;

$main-distance: 24px;

$cover-from-border-padding: 4px;

$composer-height: 62px;
