$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 34px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-wide-size: 74px;

$content-smol-size: 300px;
$content-smol-plus-size: 400px;
$content-std-size: 500px;
$content-std-plus-size: 600px;
$content-midler-size: 700px;
$content-mid-size: 800px;
$content-mid-plus-size: 900px;
$content-wide-size: 1000px;

$sidebar-width: 212px;

$content-width: 1920px;

$comments-width: 400px;

$main-distance: 24px;

$cover-from-border-padding: 4px;

$composer-height: 62px;
