$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 40px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-wide-size: 74px;

$header-height: 90px;

$content-width: 760px;

$main-distance: 24px;
