@use "../abstract" as *;
@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;

body {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #101012;
  min-height: 100vh;
  font-weight: 400;

  &:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 109;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: #101012;
    background: linear-gradient(
      0deg,
      rgba(16, 16, 18, 1) 18%,
      rgba(16, 16, 18, 0) 100%
    );
  }
}

background-blur {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(42px);
  background: rgba(0, 0, 0, 0.78);
}

main {
  padding-inline: $main-distance;
  padding-top: $header-height;
  max-width: $content-width;
  margin: 0 auto;
}

section[colored] {
  position: relative;
  border-radius: 28px;

  &::before {
    border-radius: 28px;
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.82);
    backdrop-filter: blur(12px);
  }

  & > * {
    z-index: 1;
    position: relative;
  }
}

option-select {
  @extend .window;

  padding-inline: 16px 16px;
  height: $mbutton-mid-size;
  display: flex;
  align-items: center;
  gap: $gap-smol;
  border-radius: 18px;
  position: relative;
  transition:
    background 0.6s $cubic,
    scale 0.6s $cubic;
  cursor: pointer;

  &:hover {
    background: $slight-light;
  }

  &[active] {
    background: $slight-light;
    scale: 1.02;

    options {
      opacity: 1;
      visibility: visible;
      scale: 1;
      top: calc(100% + 4px);
    }
  }

  options {
    cursor: default;
    position: absolute;
    top: calc(100% - 8px);
    left: 50%;
    translate: -50% 0;
    // background: white;
    border-radius: 12px;
    padding-block: 12px;
    opacity: 0;
    visibility: hidden;
    transition:
      scale 0.2s $cubic,
      opacity 0.4s $cubic,
      top 0.6s $cubic;
    min-width: 220px;
    scale: 0.94;
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(62px);

    option {
      padding-inline: 20px 16px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $gap-smol-plus;
      cursor: pointer;

      &[active] {
        font-weight: 600;
        // color: $tertiary;

        mi::before {
          background: $slight-dark;
          height: 1.2em;
          width: 1.2em;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          content: "done";
          visibility: visible;
        }
      }

      mi::before {
        color: $green;
        font-size: $font-size-std-plus;
        visibility: hidden;
        transition: none;
      }

      &:hover {
        background: $slighter-light;
        cursor: pointer;
      }
    }
  }
}
