@use "../abstract" as *;
@use "../framework/var.sizes" as *;

body {
  color: white;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

background-blur {
  z-index: -1;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(64px);
  background: rgba(0, 0, 0, 0.72);
}

main {
  padding-inline: $main-distance;
  padding-top: $header-height;
}

$more-logs-width: 420px;

current-log {
  display: block;
  overflow: hidden;
  width: calc(100% - $more-logs-width);

  video {
    max-width: 100%;
    border-radius: 24px;
  }
}

more-logs {
  @extend .window;

  border-radius: 24px;
  padding: 4px;
  display: block;
  width: $more-logs-width;
}

log {
  display: block;
  padding: 4px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: $gap-smol-plus;

  picture {
    min-width: 162px;
    max-width: 162px;
    border-radius: 18px;
    overflow: hidden;
  }

  &:hover {
    background: $slighter-light;
  }
}
