@use "../abstract" as *;

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: $header-height;
  max-width: $content-width;
  padding-inline: $main-distance;

  logo {
    $logo-size: 38px;

    @extend .window;

    display: block;
    height: $logo-size;
    width: $logo-size;

    picture {
      height: $logo-size;
      margin-top: -1px;
    }
  }
}
