@use "../abstract" as *;
@use "../framework/var.utils" as *;

sidebar {
  position: fixed;
  z-index: 99;
  left: 0;
  padding-top: $main-distance;
  width: $sidebar-width;
  height: 100%;
  background: $slighter-dark;

  &[active] {
    left: -$sidebar-width;
  }
}

logo {
  $logo-size: 38px;

  @extend .window;

  display: block;
  height: $logo-size;
  width: $logo-size;

  &[mid] {
    height: $mbutton-mid-size;
    width: $mbutton-mid-size;

    picture {
      height: $mbutton-mid-size;
    }
  }

  picture {
    height: $logo-size;
    margin-top: -1px;
  }
}
