@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

[input] {
  display: flex;
  align-items: center;

  &[has-icon="left"] {
    & > mi {
      font-size: 32px;
      margin-right: -28px;
    }

    input {
      padding-left: 42px;
    }
  }

  &[has-icon="right"] {
    & > mi {
      font-size: 32px;
      margin-left: -28px;
    }

    input {
      padding-right: 42px;
    }
  }
}

input-title {
  display: block;
  font-size: $font-size-smol;
  font-weight: 800;
  text-transform: uppercase;
  padding-inline: 28px;
  margin-bottom: 6px;
}

input {
  outline: none;
  border: none;
  background: white;
  font-size: 18px;
  max-width: 100%;

  &[floating] {
    position: sticky;
    top: -32px;
    z-index: 10;
    box-shadow: 0 0px 12px 0px $hover-dark;
    text-align: center;
    border-radius: 12px;
    border: none;
    padding-inline: 18px;
    padding-block: 18px;
  }

  &[login] {
    background: $slight-light;
    border-radius: 28px;
    height: $mbutton-std-plus-size;
    padding-inline: 18px;
    max-width: 100%;
    width: 100%;
    color: $light;

    &:focus {
      outline: 4px solid white;
    }
  }

  &[crazy] {
    width: 100%;
    padding-block: 24px;
    padding-inline: 28px;
    border-radius: 24px;
    font-size: 32px;
    font-weight: 600;
    color: white;
    background: $slight-light;
    transition: background 0.1s linear;

    &[smol] {
      font-size: $font-size-std;
      padding-block: 0;
      height: 48px;
    }

    &:not(:placeholder-shown),
    &:focus {
      background: $hover-light;
    }
  }
}

textarea {
  border: 0;
  outline: 0;

  &[crazy] {
    width: 100%;
    padding-block: 24px;
    padding-inline: 28px;
    font-size: 32px;
    font-weight: 600;
    color: white;
    background: $slight-light;
    border-radius: 24px;

    &:not(:placeholder-shown),
    &:focus {
      background: $hover-light;
    }
  }
}
