@use "../abstract" as *;
@use "../framework/var.utils" as *;

media-select {
  cursor: pointer;
  display: block;
  background: $slighter-light;
  color: $secondary;
  border-radius: 40px;
  margin: 0 auto;
  transition: $trans-cubic;
  position: relative;
  overflow: hidden;
  transition: background 0.4s $cubic;

  &[smol] {
    border-radius: 28px;

    &:not([filled]) {
      height: 142px;
      padding-top: 0;
      width: 100%;
    }

    & > mi {
      left: -24px;
      bottom: -32px;
      font-size: 142px;
    }
  }

  &:hover {
    background: $slighterer-light;
  }

  &:not([filled]) {
    height: 200px;
    width: 100%;
    padding-top: 50%;
  }

  &[filled] {
    width: auto;
    height: auto;
    padding-top: 0;
    margin: 0 auto;
    overflow: visible;

    & > mi {
      top: 32px;
      right: 32px;
      bottom: initial;
      left: initial;
      font-size: 24px;
      height: 56px;
      width: 56px;
      z-index: 2;

      @extend .window;

      &:hover {
        scale: 1.04;
      }
    }
  }

  img {
    max-width: 100%;
    border-radius: 28px;
  }

  video {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 28px;
  }

  & > mi {
    position: absolute;
    bottom: -58px;
    left: -24px;
    font-size: 242px;
    transition: scale 0.4s $cubic;
  }
}
