@use "../abstract" as *;
@use "../framework/classes" as *;
@use "../framework/var.sizes" as *;
@use "../framework/var.utils" as *;

reactions {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: $slight-light;

  & > mi {
    font-size: 28px;
  }

  &:hover {
    background: $slighter-light;
  }

  &[active] {
    background: $slight-light;

    reactions-choose {
      visibility: visible;
      opacity: 1;
      scale: 0.99;
      right: calc(100% + $gap-smoler);
    }
  }

  reactions-choose {
    @extend .window;

    cursor: default;
    display: flex;
    align-items: center;
    gap: $gap-smoler;
    position: absolute;
    top: 50%;
    right: 100%;
    translate: 0 -50%;
    padding: 4px 4px;
    opacity: 0;
    visibility: hidden;
    scale: 0.92;
    transition: $trans-cubic;

    &:hover {
      scale: 1;
    }

    reaction {
      cursor: pointer;
      opacity: 0;
      scale: 0.72;
      animation: popout 0.2s ease;

      &:hover {
        background: $slight-light;
      }

      @keyframes popout {
        from {
          opacity: 1;
          scale: 1;
        }

        to {
          opacity: 0;
          scale: 0.72;
        }
      }

      &[active] {
        opacity: 1;
        scale: 1;
        animation: popin 0.8s ease forwards;
      }

      @keyframes popin {
        from {
          scale: 0.64;
          opacity: 0;
        }

        40% {
          scale: 1.24;
          opacity: 1;
        }

        62% {
          scale: 0.82;
        }

        to {
          scale: 1;
        }
      }
    }
  }
}

reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  font-size: $font-size-mid;
}

reactions-container {
  display: block;

  active-reactions {
    transition: $trans-cubic;
  }
}

[behind] {
  scale: 0.98;
  opacity: 0.2;
}

outer-reaction {
  cursor: pointer;
  border-radius: 18px;
  padding-inline: 13.2px 13.2px;
  display: flex;
  gap: 0.5em;
  background: $slight-light;
  width: auto;

  &[removed] {
    animation: popout 0.4s ease forwards;
    pointer-events: none;

    @keyframes popout {
      from {
        scale: 1;
        opacity: 1;
      }

      62% {
        scale: 1.12;
        opacity: 1;
      }

      to {
        scale: 0.82;
        opacity: 0;
      }
    }
  }

  &[active] {
    background: rgba(63, 240, 190, 0.32);
    font-weight: 600;
    color: $secondary;

    &:hover {
      background: rgba(235, 50, 50, 0.32);
    }
  }

  &:hover {
    &:not([active]) {
      background: $slighter-light;
    }
  }

  reaction {
    font-size: 24px;
    width: 24px;
  }
}
