@use "../abstract" as *;
@use "../framework/var.utils" as *;

sidebar {
  position: fixed;
  z-index: 99;
  left: 0;
  padding-top: $main-distance + 12px;
  width: $sidebar-width;
  height: 100%;
  transition: none;

  &[active] {
    left: -$sidebar-width;
  }
}

logo {
  $logo-size: 62px;

  display: block;
  height: $logo-size;
  width: $logo-size;
  margin-bottom: -12px;

  &[mid] {
    $logo-inlay-size: 14px;
    $logo-wide-size: 84px;

    width: $logo-wide-size;
    height: $logo-wide-size;
    margin-bottom: -14px;

    picture {
      height: $logo-wide-size;
      width: $logo-wide-size;

      img {
        top: -$logo-inlay-size;
        left: -$logo-inlay-size;
        height: calc(100% + 2 * $logo-inlay-size);
        width: calc(100% + 2 * $logo-inlay-size);
      }
    }
  }

  picture {
    $logo-inlay-size: 8px;

    height: $logo-size;
    overflow: hidden;

    img {
      position: absolute;
      top: -$logo-inlay-size;
      left: -$logo-inlay-size;
      height: calc(100% + 2 * $logo-inlay-size);
      width: calc(100% + 2 * $logo-inlay-size);
    }
  }
}
