@use "../abstract" as *;
@use "../framework/classes" as *;
@use "../framework/var.sizes" as *;
@use "../framework/var.utils" as *;

body {
  &[cinema-mode] {
    content[log] {
      padding-top: 100vh;
    }
  }
}

loading {
  background: $slight-dark;
  border-radius: 28px;
}

content[log] {
  position: relative;
  display: block;
  width: 100%;
  transition: none;

  &[panel-comments-collapsed] {
    current-log {
      width: calc(100% - $main-distance - 32px);
    }

    comments {
      translate: calc(($comments-width - 32px)) 0;
      margin-left: calc(-1 * ($comments-width - 32px));
      overflow: visible;
      padding-bottom: calc($composer-height + $main-distance + $gap-smol);

      &:hover {
        [panel-open] {
          mi {
            width: calc(2em + 12px);
            margin-left: -12px;
            padding-right: 12px;
          }
        }
      }

      comments-top-bar {
        opacity: 0.6;
      }

      comment {
        opacity: 0.6;
        animation: none !important;
      }

      [panel-open] {
        visibility: visible;
        opacity: 1;
        animation: wait 0.6s $cubic forwards;

        @keyframes wait {
          from {
            opacity: 0;
          }

          90% {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }
      }

      composer-contain {
        position: absolute;
        bottom: $main-distance;
      }

      [panel-open] {
        display: flex;
      }

      [panel-close] {
        visibility: hidden;
      }

      textarea {
        @extend [disabled];
      }
    }
  }
}

current-log {
  display: block;
  width: calc(100% - $comments-width - $main-distance);
  transition: width 0.6s $cubic;
}

comments {
  position: fixed;
  top: 0;
  right: $main-distance;
  width: $comments-width;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: auto;
  scrollbar-width: 0px;
  margin-top: 0;
  padding-top: $main-distance;
  padding-bottom: $main-distance + 12px;
  transition:
    translate 0.6s $cubic,
    margin 0.6s $cubic;

  &[is-empty] {
    justify-content: stretch;

    [none] {
      display: flex;
      flex: 1;
    }

    comments-contain {
      display: none;
    }
  }

  [panel-open] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: $main-distance + 32px;
    z-index: 10;
    cursor: pointer;

    mi {
      height: 1.8em;
      width: 2em;
      border-radius: 12px 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        padding-right 0.6s $cubic,
        width 0.6s $cubic,
        margin-left 0.6s $cubic;

      @extend .window;
    }
  }

  [panel-close] {
    display: flex;
  }

  [none] {
    display: none;
  }

  comments-top-bar {
    display: block;
    z-index: 2;
    transition: opacity 0.2s linear;
  }

  composer-contain {
    display: block;
    position: sticky;
    // bottom: $main-distance;
    bottom: 0;
    // margin-bottom: -$main-distance;
    // top: -$header-height + calc(($header-height -
    // $composer-height) / 2) + 1px;
    z-index: 2;
    transition: none;
  }

  comments-contain {
    display: block;
  }

  comment {
    position: relative;

    &:hover {
      tools {
        opacity: 1;
        visibility: visible;
      }
    }

    tools {
      opacity: 0;
      visibility: hidden;

      p {
        cursor: pointer;
        opacity: 0.6;

        mi {
          max-height: 12px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  composer {
    @extend .window;

    display: block;
    background: rgba(255, 255, 255, 0.12);
    // position: absolute;
    width: 100%;
    // top: calc(-1 * ($composer-height));

    &[active] {
      box-shadow: var(--mio-theme-elevation-3);
    }

    textarea {
      background: transparent;
      border: none;
      outline: none;
      height: $composer-height;
      padding-inline: 24px 0px;
      color: white;
      resize: none;
      padding-block: 20px;
      overflow: hidden;
    }
  }
}

more-logs {
  a {
    flex-basis: calc(33.33% - $gap-smol);
    max-width: calc(33.33% - $gap-smol);

    @media screen and (max-width: 1120px) {
      flex-basis: calc(50% - $gap-smol);
      max-width: calc(50% - $gap-smol);
    }

    @media screen and (max-width: 888px) {
      flex-basis: calc(100%);
      max-width: calc(100%);
      width: 100%;
    }
  }
}

log {
  padding: 4px;
  border-radius: 20px;

  picture {
    position: relative;
    width: 100%;
    padding-top: 60%;
    border-radius: 18px;
    border: 1px solid $slighter-light;
    overflow: hidden;

    img {
      @extend .cover-full;

      vertical-align: middle;
      object-fit: cover;
      z-index: 0;
    }

    &::before {
      display: block;
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // backdrop-filter: blur(0.8px);
      background: $slight-dark;
    }

    [count] {
      @extend .window;

      position: absolute;
      left: 8px;
      top: 8px;
      padding-inline: 8px;
      padding-block: 4px;
      border-radius: 12px;
      z-index: 2;
      font-size: 16px;
    }
  }

  &:hover {
    background: $slighter-light;
  }
}
