@use "../abstract" as *;
@use "../framework/classes" as *;
@use "../framework/var.sizes" as *;
@use "../framework/var.utils" as *;

[landing] {
  position: absolute;
  width: calc(100% - 2 * $main-distance);
  max-height: calc(100vh - $main-distance - 12px);

  $landing-title-height: 300px;

  [title] {
    height: $landing-title-height;
    line-height: 1;
    padding-top: 32px;

    > mi {
      font-size: 420px;
      top: -332px;
      left: 50%;
      translate: -50% 0;
      z-index: -1;

      &::before {
        content: "";
        z-index: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(0px);
      }
    }
  }

  [identity] {
    height: calc(100vh - $landing-title-height);
    width: 70%;
    overflow: hidden;

    img {
      border: 12px solid $slight-light;
      border-bottom: 0;
      border-radius: 38px 38px 0 0;
      transition: margin 0.6s $cubic;

      &[loaded="true"] {
        animation: show-slide-up 0.6s $cubic forwards;

        @keyframes show-slide-up {
          from {
            opacity: 0;
            margin-top: 12px;
          }
          to {
            opacity: 1;
            margin-top: 0;
          }
        }
      }
    }
  }
}
