@use "sass:color";
@use "var.utils" as *;
@use "var.colors" as *;
@use "../abstract" as *;

.lds-ripple {
  /* change color here */
  color: #fff;
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
$lds-ripple-from: 40%;
@keyframes lds-ripple {
  0% {
    width: $lds-ripple-from;
    height: $lds-ripple-from;
    opacity: 0;
  }
  4.9% {
    width: $lds-ripple-from;
    height: $lds-ripple-from;
    opacity: 0;
  }
  5% {
    width: $lds-ripple-from;
    height: $lds-ripple-from;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

// -----------------------------------------------------

.circle-dot-loader {
  width: 104px;
  height: 104px;
  display: inline-block;
  position: relative;
}
.circle-dot-loader::after,
.circle-dot-loader::before {
  content: "";
  box-sizing: border-box;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.circle-dot-loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// ----------------------------------------------------------

.spinner {
  --clr: #40f65e;
  --clr-alpha: rgb(247, 197, 159, 0.1);
  width: 42px;
  height: 42px;
  animation: spinner 2.8s infinite ease;
  transform-style: preserve-3d;

  &[smol] {
    height: 20px;
    width: 20px;

    > div {
      border: 2.5px solid var(--clr);

      &:nth-of-type(1) {
        transform: translateZ(-8px) rotateY(180deg);
      }

      &:nth-of-type(6) {
        transform: translateZ(8px);
      }
    }
  }

  > div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--clr-alpha);
    border: 3.5px solid var(--clr);

    &:nth-of-type(1) {
      transform: translateZ(-20px) rotateY(180deg);
    }

    &:nth-of-type(2) {
      transform: rotateY(-270deg) translateX(50%);
      transform-origin: top right;
    }

    &:nth-of-type(3) {
      transform: rotateY(270deg) translateX(-50%);
      transform-origin: center left;
    }

    &:nth-of-type(4) {
      transform: rotateX(90deg) translateY(-50%);
      transform-origin: top center;
    }

    &:nth-of-type(5) {
      transform: rotateX(-90deg) translateY(50%);
      transform-origin: bottom center;
    }

    &:nth-of-type(6) {
      transform: translateZ(20px);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }
}
// * Material circular (default)
loader {
  content: "";
  display: block;
  position: relative;
  width: 58px;

  &[visible="false"] {
    display: none;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      -webkit-animation: dash 1.5s ease-in-out infinite;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: $framework_loader;
    }
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

[data-react="scroll:reached-end"] {
  .path-loader {
    position: relative;
    transform: none;
    left: auto;
    right: auto;
    top: auto;
  }

  &[show-loader] {
    .path-loader {
      opacity: 1;
      visibility: visible;
    }
  }
}

// * Material dots bouncing
.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;

  .ball {
    width: 0.8em;
    height: 0.8em;
    border-radius: 11px;
    margin: 0 10px;

    animation: 2s bounce ease infinite;

    &.blue {
      background-color: #fe6c3b;
    }

    &.red {
      background-color: #facc52;
      animation-delay: 0.25s;
    }

    &.yellow {
      background-color: #1bb1bf;
      animation-delay: 0.5s;
    }

    &.green {
      background-color: #9b32f6;
      animation-delay: 0.75s;
    }
  }
}

@keyframes bounce {
  50% {
    transform: translateY(25px);
  }
}
